#finalResultText{

    text-align: center;
    font-size: 50px;
    width: 25%;
    margin: auto;
    margin-top: 50px;
}

#matchType{

    color:#080A3D;
    text-align: center;
    font-size: 35px;
    margin: auto;
    margin-top: 20px;
    width: 25%;

}

#latestResultTeam1{
    float: left;
    width: 18%;
}

#latestResultContent{
    width: 80%;
    height: 350px;
    margin: auto;
    margin-top: 60px;
}

#latestResultTextContent{
    float: left;
    width: 60%;
}

#latestResultTeam1Score{
    float: left;
    width: 30%;
}

#latestResultTeam2ScoreLine1{
    padding-left: 80px;
}

#latestResultTeam2ScoreLine2{
    padding-left: 80px;
}

#latestResultTeam2ScoreLine3{
    padding-left: 80px;
}

.latestResultTeamScoreLine1{
    font-size: 25px;
    color: rgb(187, 151, 65);
}

.latestResultTeamScoreLine2{
    font-size: 40px;
    font-weight: 500;
    color:#080A3D;
}

.latestResultTeamScoreLine3{
    font-size: 25px;
    font-weight: 500;
    color:#080A3D;
}

#latestResultVs{
    float: left;
    text-align: center;
    font-size: 80px;
    color:#080A3D;
    margin-top: 50px;
    margin-left: 65px;
    font-weight: 400;
    width: 30%;
}

#latestResultTeam2Score{
    float: right;
    width: 30%;
}

#latestResultTeam2{
    float: left;
    width: 18%;
}
#winningResults{
    clear: both;
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 80px;
    color:#080A3D;
    font-size: 20px;
    font-weight: 450;
    text-align: center;
}

.latestResultTeamLogo{
    width: 200px;
    height: 200px;
}

img{
    border-radius: 50px;
}

hr{
    border: 2px solid;
    color: rgb(187, 151, 65);
}